<div class="ambassador-banner">
    <div class="content my-container">
        <div class="bloc">
            <div class="text">
                <h3>
                    <span>Devenez</span>
                    <span>Ambassadeur De Campagne</span>
                </h3>
                <p> {{ambassadorBanner.text}} </p>
                <button routerLink="/devenir-ambassadeur-de-campagne">
                    <span>S'inscrire</span>
                    <i class="pi pi-arrow-up-right"></i>
                </button>
            </div>
            <img src={{ambassadorBanner.image}} alt={{ambassadorBanner.alt}}>
        </div>
    </div>
</div>
