<div class="campain-video">
    <div class="content my-container">
        <img src="../../../../assets/img/home/main-hero/senegal.png">
        <div class="text">
            <h3>
                <span>Amadou BÂ</span>
                <span>Video De Camapagne</span>
            </h3>

            <p>Restez connectés, et gardez l'écoute sur l'évolution de l'actualité sur la campagne électorale de monsieur Amadou Bâ.</p>
            <button>
                <span>Me Soutenir</span>
                <i class="pi pi-arrow-up-right"></i>
            </button>
        </div>
    </div>
</div>
