<div class="campain-video">
    <div class="content my-container">
        <img src="../../../../assets/img/home/main-hero/senegal.png">
        <div class="text">
            <h3>
                <span>Amadou BÂ</span>
                <span>Video De Camapagne</span>
            </h3>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et soluta dolorum officia repellendus maxime sapiente eos, blanditiis rerum fugit alias explicabo eveniet modi iste neque provident cupiditate ab tempore labore!</p>
            <button>
                <span>Me Soutenir</span>
                <i class="pi pi-arrow-up-right"></i>
            </button>
        </div>
    </div>
</div>
