<div class="navigation-small-screen">
<!--
    <ul>
        <li>
            <a (click)=" onNavigationClicked()" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}" routerLink="">
                Accueil
            </a>
        </li>
        <li>
            <a (click)=" onNavigationClicked()" routerLinkActive="active-link" routerLink="/programmes">
                <span>Programmes</span>
                <i class="pi pi-calendar"></i>
            </a>
        </li>
        <li>
            <a (click)=" onNavigationClicked()" routerLinkActive="active-link" routerLink="/replays">
                <span>Replays</span>
                <i class="pi pi-play"></i>
            </a>
        </li>
        <li>
            <a (click)=" onNavigationClicked()" routerLinkActive="active-link" routerLink="/lives/tv">
                <span>Direct TV</span>
                <i class="pi pi-desktop"></i>
            </a>
        </li>
        <li>
            <a (click)=" onNavigationClicked()" routerLinkActive="active-link" routerLink="/lives/radio">
                <span>Direct Radio</span>
                <i class="pi pi-microphone"></i>
            </a>
        </li>
        <li>
            <a (click)=" onNavigationClicked()" routerLinkActive="active-link" routerLink="/dons">
                <span>Dons</span>
                <i class="pi pi-heart-fill"></i>
            </a>
        </li>
    </ul>
    
    <div class="networks-bloc">
        <p>Suivez-nous sur</p>

        <div class="networks">
            <a href="https://facebook.com/foryoumediaafrica" target="_blank"><i class="pi pi-facebook"></i></a>
            <a href="https://youtube.com/@foryoumediaafrica124" target="_blank"><i class="pi pi-youtube"></i></a>
            <a href="https://www.linkedin.com/company/ton-super-groupe/?viewAsMember=true" target="_blank"><i class="pi pi-linkedin"></i></a>
            <a href="https://instagram.com/foryoumediaafrica" target="_blank"><i class="pi pi-instagram"></i></a>
            <a href="https://twitter.com/foryou_media" target="_blank"><i class="pi pi-twitter"></i></a>
        </div>
    </div>
-->
</div>