<div class="campain-team">
    <div class="content my-container">
        <div class="title">
            <h2>Mon Équipe de Campagne</h2>
            <P>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime nulla molestiae aspernatur hic exercitationem est illo illum enim maiores quaerat cupiditate, voluptatum distinctio eius sint amet nesciunt non atque magni.</P>
        </div>

        <div class="team-members">
            <ng-container *ngFor="let member of teamMembers">
                <div class="member">
                    <div class="image-container">
                        <div class="flag-part green"></div>
                        <div class="flag-part yellow"></div>
                        <div class="flag-part red"></div>
                        <img src="../../../../../assets/img">
                        <img src={{member.sourceImg}} alt={{member.name}}>
                    </div>
    
                    <div class="texts">
                        <h3> {{member.name}} </h3>
                        <p> {{member.position}} </p>
                        <div class="networks" *ngIf="member.networks">
                            <ng-container *ngFor="let network of member.networks">
                                <div class="network"></div>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>
    