<div class="top-about">
    <div class="content my-container">
        <div class="image"></div>
        <div class="texts">
            <h3>Ici Apparaitra Le Slogan De Campagne</h3>
            <p>Ici sera écrit par exemple, une citation va dans le sens du slogan de campagne, ou un adage sénégalais, ou ...  Le lorem ipsum est, en imprimerie, une suite de mots sans signification utilisée à titre provisoire pour calibrer une mise en page.</p>
            <button routerLink="/le-programme">
                <span>Mon Programme</span>
                <i class="pi pi-arrow-up-right"></i>
            </button>
        </div>
    </div>
</div>