.contact-form{
    display: flex;
    justify-content: center;

    .content{
        display: flex;
        flex-direction: column;
        width: 100%;
        color: var(--project-font-black);

        .texts-form{
            display: flex;
            justify-content: space-between;
            margin-top: 7rem;

            .texts{
                display: flex;
                flex-direction: column;
                width: calc(100% - 650px);

                h3{
                    position: relative;
                    padding: 10px 0 10px 25px;
                    font-size: 2.5rem;
                    margin-bottom: 30px;

                    &::before{
                        content: "";
                        position: absolute;
                        width: 7px;
                        height: 100%;
                        background-color: var(--project-primary-color);
                        border-radius: 10px;
                        left: 0;
                        top: 0;
                    }
                }

                p{
                    line-height: 27px;
                    font-size: 1.01rem;
                    margin-bottom: 7px;
                }

                .contact-ways{
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    .contact-way{
                        display: flex;
                        align-items: center;
                        width: 100%;
                        margin-top: 25px;

                        fa-icon{
                            font-size: 1.5rem;
                            color: white;
                            font-weight: 300;
                            margin-right: 15px;
                            padding: 15px 17px;
                            background-color: var(--project-font-black);
                            border-radius: 50%;
                        }

                        .infos{
                            p{
                                font-weight: 300;
                                width: 100%;
                                &:first-child{
                                    font-size: 1.5rem;
                                    color: var(--project-primary-color);
                                    margin-bottom: 0;
                                }

                                &:last-child{
                                    margin-bottom: 0;
                                }
                            }
                        }
                    }
                }

                .networks-bloc{
                    display: flex;
                    justify-content: space-between;
                    border-top: 1px solid #1d1d1d;
                    width: 100%;
                    font-size: 1.1rem;
                    padding-top: 25px;
                    margin-top: 35px;

                    span{
                        font-size: 1.2rem;
                        font-weight: 300;
                    }

                    .networks{
                        display: flex;
                        height : fit-content;
                        align-items: center;
        
                        .network{
                            margin-left: 10px;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            cursor: pointer;
                            transition: all 0.2s ease-in-out;
                            padding: 10px;
                            border-radius: 50%;
                            background-color: var(--project-font-black);


                            &:hover{
                                background-color: var(--project-primary-color);
                            }
        
                            img{
                                object-fit: cover;
                                object-position: center;
                                width: 17px;
                            }
                        }
                    }
                }
            }

            form{
                width: 500px;
                border-radius: 10px;
                background-color: white;
                margin-left: 50px;
                padding: 2rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                height: fit-content;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;


                .input-bloc{
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 25px;    
                    label{
                        margin-bottom: 5px;
                        font-size: 0.85rem;
                        font-weight: 550;
                    }
    
                    input{
                        width: 100%;
                        height: 37px;
                        background-color: var(--project-secondary-color);
                        border: 1px solid #94928a;
                        border-radius: 7px;
                        padding: 7px 10px;
                    }

                    textarea{
                        max-width: 100%;
                        min-width: 100%;
                        width: 100%;
                        background-color: var(--project-secondary-color);
                        border: 1px solid #94928a;
                        border-radius: 7px;
                        padding: 7px 10px;
                        height: 150px;
                        min-height: 150px;
                    }
                }

                .row-two{
                    display: flex;
                    justify-content: space-between;
                    width: 100%;

                    .input-bloc{
                        width: 47%;
                    }
                }

                .row-one{
                    display: flex;
                    justify-content: space-between;
                    width: 100%;

                    .input-bloc{
                        width: 100%;
                    }
                    
                }
    
                button{
                    display: flex;
                    align-items: center;
                    padding: 7px 20px;
                    color: white;
                    background-color: var(--project-primary-color);
                    border: none;
                    width: fit-content;
                    border-radius: 5px;
                    cursor: pointer;
    
                    &:hover{
    
                        box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;                         
                        
                        i{    
                                transform: rotate(45deg);
                        }
                    }
    
                    span{
                        font-size: 1rem;
                    }
    
                    i{
                        margin-left: 7px;
                        font-size: 1.2rem;
                        transition: all 0.2s ease-out;
                    }
                }
            }
        }
    }
}